 .mainCol1
 {
 	vertical-align: top;
 }
 
 .mainCol2
 {
 	vertical-align: top;
 }

 .topCol1
 {
 	vertical-align: middle;
 }
 
 .topCol2
 {
 	vertical-align: middle;
 }

.navigationContainer {
	/*top:5px;*/
   /*  float: left, top;
   width:250px;*/
    height: 100%;
    
   /* border-bottom: 1px solid #d9d9d9;*/
}
.splashContainer{
    height:432px;
    width:100%;
}

.ReporteVentasLocalContainer{
    width:100%;
}

.ReporteMaestrosUsuariosContainer{
	width:100%;
	}


.buttonsAndLinksContainer{
    width:500px;
}
.textEntryContainer{
    width:500px;
}
.selectionContainer{
    width:500px;
}
.selectInputTextContainer{
    width:500px;
}
.selectInputDateContainer{
    width:475px;
}
.chartsContainer{
    width:635px;
}
.gmapContainer {
    width: 550px;
}
.outputConnectionStatusContainer{
    width:500px;
}
.dragDropContainer{
    width:500px;
}
.effectsContainer{
    width:500px;
}
.inputFileContainer{
    width:500px;
}
.outputMediaContainer{
    width:500px;
}
.outputProgressContainer{
    width:625px;
}
.menuBarContainer{
    width:500px;
}

.menuBarContainerSite{
    width:400px;
}

.menuPopupContainer{
    width:500px;
}
.inputRichTextContainer{
    width:600px;
}
.dataScrollingContainer{
    width:500px;
}
.commandSortHeaderContainer{
    width:500px;
}
.rowSelectorContainer{
    width:500px;
}
.columnsTableContainer{
    width:500px;
}
.expandableTableContainer{
    width:500px;
}
.groupingContainer{
    width:500px;
}
.resizableContainer{
    width:500px;
}

.panelBorderContainer{
    width:1200px;
}
.panelCollapsible{
    width:200px;
    padding: 4px 4px 4px 0px;
}
.panelTabSetContainer{
    width: 610px;
}
.panelPopupContainer{
    width:600px;
}
.panelPopupExampleContainer{
    width:250px;
}
.panelPositionedContainer{
    width:500px;
}
.panelDividerContainer{
    width:700px;
}
.panelSeriesContainer{
    width:600px;
}

.panelNavigationContainer{
	width:200px;
	position:relative; 
	top:0px; 
	left:auto;
	/*padding-right: 300px;*/
	}

.panelContainer{
	border-style: double;
	width:700px;
	
	}
.panelStackContainer{
    width:600px;
    
}
.panelToolTipContainer{
    width:500px;
}

.pnlBrdr {
    margin: 0 0 0 0;
    display: block;
    float: left;
    width:100%;
}

.pnlBrdrNorth,.pnlBrdrSouth
	{
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	/*padding: 5px;*/
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.pnlBrdrEast{
	border: 1px solid #CCCCCC;
	background-color: transparent;
	/*padding: 5px;*/
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.pnlBrdrCenter{
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	/*padding: 5px;*/
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	
}

.pnlBrdrWest {
	/*border: 1px solid #CCCCCC;
	background-color: #EEEEEE;*/
	padding: 0;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	border-radius: 15px 15px 15px 15px;	
}

.pnlBrdrNorth{
	height:35px;
	border-radius: 15px 15px 0 0;	
}

.pnlBrdrSouth{
	border-radius: 0 0 15px 15px;	
}

.pnlBrdrCenter{
	width:85%;
	/*border-radius: 15px 15px 15px 15px;	*/
	}

.pnlBrdrWest{
	width:250px;
}
